body {
  background-color: #2a3a49;
  margin: 0;
  padding: 0;
}

.container {
  height: 140px;
  width: 160px;
  position: absolute;
  background-color: #fff;
}

.toggle {
  height: 0;
  width: 80px;
  border-bottom: 70px solid #f9d230;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  position: absolute;
  top: 0;
}

.toggle::before {
  content: "";
  height: 0;
  width: 80px;
  border-top: 70px solid #f9d230;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  position: absolute;
  top: 70px;
  left: -40px;
}
